<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                APP CHAT
            </div>
            <div class="card-body">
                <div class="card" >
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                     <ul id="chat-box">

                     </ul>
                    </div>
                  </div>
                <div class="d-flex mt-4" >
                    <input class="form-control me-2" placeholder="Input here" id="message-input" aria-label="input-chat">
                    <button id="send-message" class="btn btn-outline-success" >Send</button>
                </div>
            </div>
          </div>
    </div>
</body>
<script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
<script defer src="script.js"></script>
</html>
